<!DOCTYPE html>

<head>

<meta name=viewport content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="/assets/images/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/assets/images/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <title></title>
</head>
<body>

<div class="wrapper">
<h1 class="title">URL Shortener</h1>
  <form class="search-bar">
    <input type="text" name="search" class="search-bar__input"><input type="submit" class="search-bar__submit-btn">
  </form>
</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- build:js assets/scripts/app.js -->
<script src="assets/scripts/app.js"></script>
<!-- endBuild -->